<div th:fragment="pagination(name, page, size, totalPages)"
     hx-target:inherited="main" hx-select:inherited="main" hx-swap:inherited="outerHTML"
     class="mt-3 d-flex justify-content-between">
    <nav th:aria-label="${name + ' page'}">
        <ul data-pagination class="pagination pagination-sm mb-0"
            th:data-current-page="${page}"
            th:data-page-size="${size}"
            th:data-total-pages="${totalPages}"></ul>
    </nav>
    <div class="btn-group btn-group-sm" role="group" th:aria-label="${name + ' page size'}">
        <a href="?size=20" class="btn btn-outline-primary"
           th:classappend="${size eq 20 ? 'active' : ''}">20</a>
        <a href="?size=30" class="btn btn-outline-primary"
           th:classappend="${size eq 30 ? 'active' : ''}">30</a>
        <a href="?size=50" class="btn btn-outline-primary"
           th:classappend="${size eq 50 ? 'active' : ''}">50</a>
    </div>
</div>
