<div th:fragment="playing-bar" data-playing-bar class="container d-flex align-items-center gap-3 flex-shrink-0"
     data-hx-disinherit="hx-target hx-select">
    <img data-track-album-cover class="flex-shrink-0"
         src="https://i.scdn.co/image/ab67616d0000b27390a50cfe99a4c19ff3cbfbdb"
         alt="Track cover art" width="64" height="64">
    <div class="d-flex flex-column flex-grow-1" style="min-width: 0">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column" style="min-width: 0">
                <div data-track-name class="text-truncate lead">
                    Since I've Been Loving You
                </div>
                <div data-track-artists class="text-truncate text-body-secondary small">
                    Led Zeppelin
                </div>
            </div>
            <button data-player-toggle class="btn btn-link p-0">
                <i data-play-icon class="bi bi-play-fill fs-3"></i>
                <i data-pause-icon class="bi bi-pause-fill fs-3 d-none"></i>
            </button>
        </div>
        <div class="d-flex align-items-center gap-2 w-100">
            <small data-position class="flex-shrink-0">1:32</small>
            <input data-progress type="range" min="0" max="0" value="0" step="1"
                   class="form-range flex-grow-1" aria-label="Track name progress">
            <small data-duration class="flex-shrink-0">1:32</small>
        </div>
    </div>
</div>
