<th:block th:fragment="toast(title, message)">
    <hx-partial hx-target="#app-toast">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong th:text="${title}" class="me-auto">Kingfisher</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div th:text="${message}" class="toast-body"></div>
        </div>
    </hx-partial>
</th:block>
