main {
    min-height: 0;
}

/*user-saved-tracks*/
.left-sidebar {
    width: 420px;
}

/*lyrics*/
[data-lyrics] [data-lyrics-line] {
    transition: opacity 0.2s;
}

/*HTMX indicator*/
.htmx-indicator {
    display: none !important;
}

.htmx-request .htmx-indicator {
    display: flex !important;
}

.htmx-request.htmx-indicator {
    display: flex !important;
}
