<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/htmx.org/2.0.10/dist/htmx.min.js}"></script>
    <script type="module" th:src="@{/js/app.js}"></script>
</head>
<body data-hx-boost="true" data-hx-target="main" data-hx-swap="outerHTML" data-hx-select="main"
      class="d-flex flex-column vh-100">
<!--Header-->
<header th:replace="~{fragments/header :: header}"></header>
<!--Main-->
<main class="container d-flex flex-grow-1 gap-3">
    <th:block th:replace="${content}"/>
</main>
<!--Playing Bar-->
<th:block th:replace="~{fragments/playing-bar :: playing-bar}"/>
</body>
</html>
